Backend/demo/demo/src/main/resources/story.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.pratham.com/fanfiction/story"
           xmlns:tns="http://www.pratham.com/fanfiction/story"
           elementFormDefault="qualified">

    <xs:element name="getStoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getStoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="content" type="xs:string"/>
                <xs:element name="language" type="xs:string"/>
                <xs:element name="genre" type="xs:string"/>
                <xs:element name="age" type="xs:string"/>
                <xs:element name="media" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
